body{
    margin: 0;
    padding: 0;
}
header{
    width: 99.6%;
    height: 80px;
    border:3px solid rgb(165, 63, 16);
    background: rgb(233, 165, 77);
    display: flex;
    justify-content:space-around;
    align-items: center;
    position: fixed;
}
.logo{
    width:110px;
    height: 79px;
}
.headeri{
    font-size: 50px;
    color:#DF1006;
}
.headeri1{
    font-size: 15px;
    color:#DF1006;
    border:1px solid rgb(165, 63, 16);
}
main{padding-top: 90px;
    background:#FADCD9;
    display: flex;
    flex-wrap: wrap;
}
.click1:hover{
    transform: scale(1.3);
    color: #4a7425;
}
.click2:hover{
    transform: scale(1.3);
    color: #4a7425;
}
.click3:hover{
    transform: scale(1.3);
    color: #4a7425;
}
.pizza1{
    background: rgb(233, 165, 77);
    width: 48%;
    border:3px solid rgb(165, 63, 16);
margin:10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}
h2{ color:#DF1006;
    font-size:30px ;
}
.pizzap{
    font-size: 20px;
    font-weight: bold;
    margin-right: 5px;
}
footer{
    width: 99.6%;
    height: 80px;
    border:3px solid rgb(165, 63, 16);
    background: rgb(233, 165, 77);
    text-align: center;

}
.footeri{
    font-size: 30px;
    color:#DF1006;
    margin: 20px;
    
}
.footeri1{
    font-size: 15px;
    color:#DF1006;
}
.footerphine:hover{
    transform: scale(1.3);
    color: #4a7425;
}
.footermail:hover{
    transform: scale(1.3);
    color: #4a7425;
}
.footeraddres:hover{
    transform: scale(1.3);
    color: #4a7425;
}
